aiohttp==3.0.7
appdirs==1.4.3
async-timeout==2.0.0
attrs==17.4.0
Babel==2.5.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cssselect==1.0.3
debtcollector==1.19.0
dj-database-url==0.5.0
Django==2.1.4
enum-compat==0.0.2
eventlet==0.20.0
eyeD3==0.8.4
fasteners==0.14.1
future==0.17.1
greenlet==0.4.13
gunicorn==19.9.0
idna==2.6
idna-ssl==1.0.1
iso8601==0.1.12
libmagic==1.0
lxml==4.1.1
monotonic==1.4
multidict==4.1.0
mutagen==1.40.0
netaddr==0.7.19
oslo.config==5.2.0
oslo.i18n==3.19.0
pathlib==1.0.1
pbr==3.1.1
Pillow==9.3.0
pyparsing==2.2.0
python-magic==0.4.15
python-magic-bin==0.4.14
pytz==2018.3
PyYAML==3.13
requests==2.18.4
rfc3986==1.1.0
sacad==2.0.6
serial==0.0.97
six==1.11.0
soupsieve==1.7.2
spotipy==2.4.4
stevedore==1.28.0
tqdm==4.19.6
urllib3==1.22
web-cache==1.0.2
wrapt==1.10.11
yarl==1.1.1
youtube-dl==2019.1.24
